---
const { active } = Astro.props;
---

<header class="bg-white shadow">
  <div
    class="max-w-6xl mx-auto px-6 py-10 h-16 flex items-center justify-between"
  >
    <a href="/" class="text-lg font-bold font-pixel">>_</a>
    <nav class="hidden sm:flex items-center space-x-6 font-pixel">
      <a
        href="/"
        class={`px-3 py-2 text-sm transition-all duration-200
      ${
        active === "home"
          ? "text-black border-b-2 border-black"
          : "text-gray-400 hover:text-black"
      }
    `}
      >
        HOME
      </a>
      <a
        href="/about"
        class={`px-3 py-2 text-sm transition-all duration-200
      ${
        active === "about"
          ? "text-black border-b-2 border-black"
          : "text-gray-400 hover:text-black"
      }
    `}
      >
        ABOUT
      </a>
    </nav>

    <button class="sm:hidden p-2 rounded">
      <svg width="32" height="32" viewBox="0 0 16 16" class="fill-current">
        <path d="M0 3h16v2H0zM0 7h16v2H0zM0 11h16v2H0z"></path>
      </svg>
    </button>
  </div>
</header>
