---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const formattedDate = post.data.date.toLocaleDateString("en-US", {
  month: "short",
  day: "2-digit",
  year: "numeric",
});
---

<section class="bg-[#f7f4f2]">
  <div class="max-w-6xl mx-auto relative px-8 py-10">
    <div class="absolute left-0 top-0 bottom-0 w-1 bg-purple-600"></div>
    <div class="sm:pl-12">
      <div class="flex items-center gap-6 mb-8">
        <span
          class="bg-purple-600 text-white text-xs font-semibold font-pixel px-4 py-2 tracking-widest"
        >
          LATEST POST
        </span>
        <span class="text-purple-600 text-xs font-pixel tracking-widest">
          {formattedDate}
        </span>
      </div>
      <h1 class="font-pixel text-2xl sm:text-4xl leading-tight mb-6">
        {post.data.title}
      </h1>
      <p class="text-gray-600 text-base font-serif sm:text-lg max-w-xl mb-10">
        {post.data.description}
      </p>
      <div class="flex items-center gap-8">
        <a
          href={`blog/${post.slug}`}
          class="group text-sm font-semibold font-pixel tracking-widest border-b-2 border-purple-600 pb-2 inline-flex items-center gap-2 transition-colors duration-200 hover:text-purple-600"
        >
          FULL ARTICLE
          <span
            class="font-pixel transition-transform duration-200 group-hover:translate-x-1"
          >
            <!-- TODO: Use a good icon -->
            ->
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
