---
import "../styles/global.css";
import Header from "../components/Header.astro";

const { title = "Site", active } = Astro.props;
---

<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{title}</title>
  </head>
  <body>
    <Header active={active} />
    <main>
      <slot />
    </main>
  </body>
</html>
